<div class="banner_home">
			<div class="banner_inner">
				<div id="easySlider">	
					<div class="container_slider">
						<div class="slides">
							<ul>
								<li><%= link_to (image_tag ("banner1.png")), "#"%></li>
								<li><%= link_to (image_tag ("banner2.png")), "#"%></li>
								<li><%= link_to (image_tag ("banner3.png")), "#"%></li>
								<li><%= link_to (image_tag ("banner4.png")), "#"%></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			
			
			
			
			<h1>Minimalisto is a clean and minimalist business site template<br/> suitable for <span>business, corporate, company</span> and any kind of websites.
			Minimalisto is fully customizable using the theme options page.</h1>
		</div><!--/banner_home-->
		<div class="free_quote"><%= link_to (image_tag ("click.png")), "#" %>
			<h5>We offer a wide variety of services, for all your creative needs! Read more about <span>our services</span> here.</h5>
			<div class="clr"></div>
		</div>
		<div class="home_content">
			<div class="aboutus_block">
				<div class="about_column1">
					<h4>A few words about us</h4>
					<p>Lorem ipsum dolor sit amet, consectetueruer adipiscing elit, sed diam nonummy nibhhhitest euismod tincidunt ut laoreet dolore magnamus aliquam erat volutpat. 
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero</p>
				</div><!--/about_column1-->
				<div class="about_column2">
					<h4>What We do</h4>
					<p>Lorem ipsum dolor sit amet, consectetueruer adipiscing elit, sed diam nonummy nibhhhitest euismod tincidunt ut laoreet dolore magnamus aliquam erat volutpat. 
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero</p>
				</div><!--/about_column2-->
				<div class="about_column2">
					<h4>Our skills</h4>
					<p>Lorem ipsum dolor sit amet, consectetueruer adipiscing elit, sed diam nonummy nibhhhitest euismod tincidunt ut laoreet dolore magnamus aliquam erat volutpat. 
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero</p>
				</div><!--/about_column2-->
				<div class="testimonial">
					<h4>Folks are talking</h4>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo ...</p>
					<span>John Doe,</span>
					<a href="#">MediaLab Inc. Chicago, Illinois</a>
				</div><!--/testimonial-->
			</div><!--/aboutus_block-->
			<div class="hr">
				<h4>Our latest projects</h4>
				<div class="hr_line"></div><!-- #line -->
			</div><!-- #hr -->
			<div class="project_block">
				<div class="portfolio_grid_item">
					<%= link_to (image_tag ("img_001.png")), "#" %>
					<p><a href="#">Lorem ipsum dolor sit ameeet, consectetuer adipiscing elitest sed diam nonummy</a></p>
					<ul>
						<li><a href="#">webdesign</a>,</li>
						<li><a href="#">development</a>,</li>
						<li><a href="#">identity</a>,</li>
					</ul>
				</div><!--/portfolio_grid_item-->
				<div class="portfolio_grid_item">
					<%= link_to (image_tag ("img_002.png")), "#" %>
					<p><a href="#">Lorem ipsum dolor sit ameeet, consectetuer adipiscing elitest sed diam nonummy</a></p>
					<ul>
						<li><a href="#">webdesign</a>,</li>
						<li><a href="#">development</a>,</li>
						<li><a href="#">identity</a></li>
					</ul>
				</div><!--/portfolio_grid_item-->
				<div class="portfolio_grid_item">
					<%= link_to (image_tag ("img_003.png")), "#" %>
					<p><a href="#">Lorem ipsum dolor sit ameeet, consectetuer adipiscing elitest sed diam nonummy</a></p>
					<ul>
						<li><a href="#">webdesign</a>,</li>
						<li><a href="#">development</a>,</li>
						<li><a href="#">identity</a></li>
					</ul>
				</div><!--/portfolio_grid_item-->
				<div class="portfolio_grid_item last">
					<%= link_to (image_tag ("img_004.png")), "#" %>
					<p><a href="#">Lorem ipsum dolor sit ameeet, consectetuer adipiscing elitest sed diam nonummy</a></p>
					<ul>
						<li><a href="#">webdesign</a>,</li>
						<li><a href="#">development</a>,</li>
						<li><a href="#">identity</a></li>
					</ul>
				</div><!--/portfolio_grid_item-->
			</div><!--/project_block-->
			<div class="hr">
				<h4>Latest from the blog</h4>
				<div class="hr_line"></div><!-- #line -->
			</div><!-- #hr -->
			<div class="blog_block">
				<div class="blog_grid">
					<%= link_to (image_tag ("img_005.png")), "#" %>
					<p><a href="#">Lorem ipsum dolor sit ameeet, consectetuer adipiscing elitest sed diam nonummy</a></p>
					<ul>
						<li><a href="#">January 22, 2011</a></li>
						<li>&nbsp;-&nbsp;<a href="#">12 Comments</a></li>
					</ul>
				</div><!--/blog_grid-->
				<div class="blog_grid">
					<%= link_to (image_tag ("img_006.png")), "#" %>
					<p><a href="#">Lorem ipsum dolor sit ameeet, consectetuer adipiscing elitest sed diam nonummy</a></p>
					<ul>
						<li><a href="#">January 22, 2011</a></li>
						<li>&nbsp;-&nbsp;<a href="#">12 Comments</a></li>
					</ul>
				</div><!--/blog_grid-->
				<div class="blog_grid">
					<%= link_to (image_tag ("img_007.png")), "#" %>
					<p><a href="#">Lorem ipsum dolor sit ameeet, consectetuer adipiscing elitest sed diam nonummy</a></p>
					<ul>
						<li><a href="#">January 22, 2011</a></li>
						<li>&nbsp;-&nbsp;<a href="#">12 Comments</a></li>
					</ul>
				</div><!--/blog_grid-->
				<div class="blog_grid last">
					<%= link_to (image_tag ("img_008.png")), "#" %>
					<p><a href="#">Lorem ipsum dolor sit ameeet, consectetuer adipiscing elitest sed diam nonummy</a></p>
					<ul>
						<li><a href="#">January 22, 2011</a></li>
						<li>&nbsp;-&nbsp;<a href="#">12 Comments</a></li>
					</ul>
				</div><!--/blog_grid-->
			</div><!--/project_block-->
		</div><!--/home_content-->
